/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin-top: 3rem;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  position: relative;
}

.navBar a {
  text-decoration: none;
  color: rgb(133, 143, 131);
  transition: 0.3s;
}

.navBar ul {
  list-style: none;
  display: flex;
}

.navBar ul li {
  padding: 1rem 1rem;
  margin: auto;
}

.navBar a:hover {
  color: rgb(174, 213, 167);
}
